<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hopebaytech.hcfsmgmt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_tera_app_default"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.hopebaytech.hcfsmgmt.main.LoadingActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hopebaytech.hcfsmgmt.main.ActivateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hopebaytech.hcfsmgmt.main.ActivateCloudStorageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hopebaytech.hcfsmgmt.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.SwitchAccountActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" />

        <receiver
            android:name="com.hopebaytech.hcfsmgmt.main.HCFSMgmtReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.hopebaytech.hcfsmgmt.service.HCFSMgmtService" />

        <service
            android:name="com.hopebaytech.hcfsmgmt.terafonnapiservice.TeraFonnApiService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

    </application>
</manifest>
