<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hopebaytech.hcfsmgmt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:name=".main.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_tera_app_default"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.hopebaytech.hcfsmgmt.main.MainActivity"
            android:launchMode="singleInstance"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.hopebaytech.hcfsmgmt.HANDLE_AUTHORIZATION_RESPONSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.hopebaytech.hcfsmgmt.main.ActivateActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.ChangeAccountActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.TransferContentActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" />

        <activity
            android:name=".main.LockDeviceActivity"
            android:screenOrientation="portrait" />

        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="com.hopebaytech.hcfsmgmt"/>
            </intent-filter>
        </activity>

        <activity android:name="com.hopebaytech.hcfsmgmt.utils.AppAvailableAlertActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:exported="true" />

        <receiver
            android:name="com.hopebaytech.hcfsmgmt.main.HCFSMgmtReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="hbt.intent.action.RESET_DATA_XFER" />
                <action android:name="hbt.intent.action.UPDATE_EXTERNAL_APP_DIR" />
                <action android:name="hbt.intent.action.NOTIFY_LOCAL_STORAGE_USED_RATIO" />
                <action android:name="hbt.intent.action.NOTIFY_INSUFFICIENT_PIN_SPACE" />
                <action android:name="hbt.intent.action.TOKEN_EXPIRED" />
                <action android:name="hbt.intent.action.EXCEED_PIN_MAX" />
                <action android:name="hbt.intent.action.RESTORE_STAGE_1" />
                <action android:name="hbt.intent.action.RESTORE_STAGE_2" />
                <action android:name="hbt.intent.action.MINI_RESTORE_COMPLETED" />
                <action android:name="hbt.intent.action.FULL_RESTORE_COMPLETED" />
                <action android:name="hbt.intent.action.CHECK_RESTORE_STATUS" />
                <action android:name="hbt.intent.action.BOOSTER_PROCESS_COMPLETED" />
                <action android:name="hbt.intent.action.BOOSTER_PROCESS_FAILED" />
                <action android:name="hbt.intent.action.ERASE_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name=".service.TeraMgmtService"
            android:process=":TeraMgmtService" />
        <service android:name="com.hopebaytech.hcfsmgmt.service.MgmtPollingService" />
        <service
            android:name="com.hopebaytech.hcfsmgmt.service.CheckDeviceTransferredPeriodicService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.hopebaytech.hcfsmgmt.service.PinAndroidFolderService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.hopebaytech.hcfsmgmt.service.UnlockDeviceService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.hopebaytech.hcfsmgmt.terafonnapiservice.TeraFonnApiService"
            android:enabled="true"
            android:exported="true"
            android:process=":TeraFonnApiService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hopebaytech.hcfsmgmt.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.hopebaytech.hcfsmgmt.receiver.TeraReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.teraservice.create.thumbnail" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hopebaytech.hcfsmgmt.service.TeraApiServer"
            android:exported="true"
            android:enabled="true"
            android:persistent="true"
            android:process=":TeraApiServer"/>
    </application>
</manifest>
